<h1>Link Preview Analysis</h1>

<h2>Developer Links for detailed analysis:</h2>
<table width="900">
  <tr>
    <td>OpenGraph definitions</td>
    <td><a href="http://ogp.me/" target="_blank">http://ogp.me/</a></td>
  </tr>
  <tr>
    <td>OpenGraph Check</td>
    <td><a href="https://opengraphcheck.com/" target="_blank">https://opengraphcheck.com/</a></td>
  </tr>
  <tr>
    <td>Twitter card validator</td>
    <td><a href="https://cards-dev.twitter.com/validator" target="_blank">https://cards-dev.twitter.com/validator</a></td>
  </tr>
  <tr>
    <td>Facebook Sharing Helper</td>
    <td><a href="https://developers.facebook.com/tools/debug/sharing/" target="_blank">https://developers.facebook.com/tools/debug/sharing/</a></td>
  </tr>
</table>

<h2>OpenGraph Data</h2>
<table width="900">
<% @preview.og_tags.each do |k,v| %>
  <tr>
    <td><%= k %></td>
    <td><%= v %></td>
  </tr>
<% end %>
</table>

<hr>
<h2>Twitter Data</h2>
<table width="900">
<% @preview.twitter_tags.each do |k,v| %>
  <tr>
    <td><%= k %></td>
    <td><%= v %></td>
  </tr>
<% end %>
</table>

<hr>
<h2>Whatsapp Sharing Hints</h2>
<table width="900">
<% @preview.whatsapp_sharing_tags[:small_images].each do |k,v| %>
  <tr>
    <td><%= k %></td>
    <td><%= v %></td>
  </tr>
<% end %>
</table>

<hr>
<h2>Facebook Sharing Hints</h2>
<table width="900">
<% @preview.facebook_sharing_tags[:small_images].each do |k,v| %>
  <tr>
    <td><%= k %></td>
    <td><%= v %></td>
  </tr>
<% end %>
</table>
